<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" id="basic"   href="#">Basic Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="project"   href="#">Project Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="family" href="#">Family Details</a>
                    </li>
                </ul>
                <div class="tab-content"> 
                    <div class="tab-pane container" id="basicDiv">
                        Basic Details Div
                    </div>
                    <div class="tab-pane container" id="projectDiv">
                        Project Details Div
                    </div>
                    <div class="tab-pane container active" id="familyDiv">
                        Family Details Div
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <ul class="list-group list-group-horizontal" id="myHoobyUl"> 
                  <li class="list-group-item">Cricket</li><li class="list-group-item bg-success">Online Games</li><li class="list-group-item">Drawing</li><li class="list-group-item">Singing</li></ul>
            </div>
            <div class="col-12 pt-3">
                <button class="btn btn-primary"  >Get Selected Hobbies</button>
            </div>
            <div class="col-12">
                <p id="selectedHobbies"><span>Online Games</span></p>
            </div>
        </div>
    </div>
</div>