<div class="mt-1 mb-2 p-3 bg-success text-white rounded text-center">
  <h1>Custom Directive - tooltip with Html Template</h1>
  <h3>using elementRef and Renderer </h3>
</div>




<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="row g-3">
        <div class="col-md-2">
          <label>First name <i class="fa fa-info-circle" appMyTootip [appTooltip]="'Demo Text'" ></i></label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-2">
          <label>Last name <i class="fa fa-info-circle" appTolltipTemplate [myTemplate]="lastNameTem" ></i></label>
          <input type="text" class="form-control">

          <ng-template #lastNameTem> 
            <div class="row">
              <div class="col-8">
                This Need Name As per PAN
              </div>
              <div class="col-4">
                <i class="fa fa-info-circle tooltiFa"></i>
              </div>
              <div class="col-12">
                <small>Please Provide Full Name</small> 
               </div>
            </div> 
          </ng-template>
        </div>
        <div class="col-md-4">
          <label>Username <i class="fa fa-info-circle"></i></label>
          <div class="input-group has-validation">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <label>City</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-3">
          <label>State</label>
          <select class="form-select">
            <option selected disabled value="">Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>Zip <i class="fa fa-info-circle"></i></label>
          <input type="text" class="form-control">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck">
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-12 text-center">
    <div class="btn-group">
      <button type="button" (click)="changeTab('Basic')" [ngClass]="activeTab == 'Basic'?'btn-success':' btn-primary'"
        class="btn">Basic</button>
      <button type="button" (click)="changeTab('Contact')"
        [ngClass]="activeTab == 'Contact'?'btn-success':' btn-primary'" class="btn">Contact </button>
      <button type="button" (click)="changeTab('Family')" [ngClass]="activeTab == 'Family'?'btn-success':' btn-primary'"
        class="btn">Family</button>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-xs-12 col-md-8 offset-md-2 ">
    <div class="wrapper-progressBar">
      <ul class="progressBar">
        <li [ngClass]="{'complete':step.isComplete,'active': step.isActive}" (click)="setStep(step)" class="" *ngFor="let step of steps">{{step.step}}</li>
      </ul>
    </div>
  </div>
</div> -->
<!-- 
<div class="row">
  <div class="col-12 bg-secondary p-2" *ngIf="activeTab == 'Basic'">
    <div class="row">
      <div class="col-3">
        <label for="">First Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-3">
        <label for="">Middle Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-3">
        <label for="">Last Name</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label for="">City</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-3">
        <label for="">State</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-3">
        <label for="">Pin Code</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label for="">State</label>
        <textarea name="" id="" class="form-control" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="col-12  p-2" *ngIf="activeTab == 'Contact'">


    <div class="row">
      <div class="col-3">
        <label for="">Contact No</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-3">
        <label for="">Alt Contact No</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-3">
        <label for="">Email</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <label for="">Office Contact No</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-3">
        <label for="">Emmergency Contact No</label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-12 p-2" *ngIf="activeTab == 'Family'">
    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>name --{{currentSelectedRowId}}</th>
              <th>username</th>
              <th>email</th>
              <th>city</th>
              <th>website</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of users;let sr=index" (click)="onSelect(item.id)"
              [ngClass]="currentSelectedRowId == item.id? 'bg-success':''">
              <td>{{sr+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.username}}</td>
              <td>{{item.email}}</td>
              <td>{{item.address.city}}</td>
              <td>{{item.website}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->