<div class="row">
    <div  [ngClass]="isSidePanelOpen ?'col-8':'col-12'">
        <div class="card">
            <div class="card-header bg-success">
                <div class="row">
                    <div class="col-6">
                        Employee List
                    </div>
                    <div class="col-6 text-end">
                            <button class="btn btn-primary" (click)="isSidePanelOpen = true">Create New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Name</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cust of customerList; let sr= index">
                                    <td>{{sr+1}}</td>
                                    <td> {{cust.name}}</td>
                                    <td> {{cust.mobile}}</td>
                                    <td> {{cust.email}}</td>
                                    <td> 
                                        <button   class="btn btn-primary">View</button>
                                        <button   class="btn btn-success">Edit</button>
                                        <button class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-4" *ngIf="isSidePanelOpen">
        <div class="card">
            <div class="card-header bg-success">
                <div class="row">
                <div class="col-6">
                   New Employee 
                </div>
                <div class="col-6 text-end">
                        <button class="btn btn-primary"  (click)="isSidePanelOpen = false">Close</button>
                </div>
            </div>
            </div>
            <div class="card-body">
                <form  >
                    <div class="mb-3 mt-3">
                      <label for="email" class="form-label">Email:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="mb-3">
                      <label for="pwd" class="form-label">Password:</label>
                      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                    </div>
                    <div class="form-check mb-3">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                      </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</div>