<nav class="navbar navbar-expand-sm bg-secondary justify-content-center">
  <ul class="navbar-nav"> 
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/employee">Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/serverSideFilter">Filtering</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/inlineReactive">Inline Editing Reactive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/template-form">Template Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/reactive-form">Reactive From</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/ng-content-container-outlet">Adv Directives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/json-user">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" routerLink="/ag-grid">AG-Grid</a>
    </li>
    
  </ul>
</nav>

<div class="container-fluid mt-3">
  <router-outlet></router-outlet>
</div>
