

<nav class="navbar navbar-expand-sm bg-secondary justify-content-center">
  <ul class="navbar-nav"> 
    <li class="nav-item dropdown">
      <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Logic Development
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/plan-selection">Plan-Selection</a></li> 
        <li><a class="dropdown-item" routerLink="/train-booking">Train Booking</a></li> 
        <li><a class="dropdown-item" routerLink="/movie-booking">Movie Booking</a></li> 
        <li><a class="dropdown-item" routerLink="/grossary-cart">Grossary-Cart</a></li> 
        <li><a class="dropdown-item" routerLink="/register-Student">Register-Student</a></li> 
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Reusable Component
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
        <li  >
          <a class="dropdown-item" routerLink="/json-user">Reusable Table</a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Forms
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/template-form">Template Form</a></li>
        <li ><a class="dropdown-item" routerLink="/reactive-form">Reactive From</a> </li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <a class="dropdown-item" routerLink="/inlineReactive">Inline Editing Reactive</a>
        </li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Directives
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/employee">Custom Tool-tip</a></li> 
        <li><a class="nav-link text-white text-white" routerLink="/ng-content-container-outlet">ng-content,ng-container,ng-outlet </a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filtering
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/serverSideFilter">Server Side Filtering</a></li> 
        <li><a class="dropdown-item" routerLink="/server-side-pagination">Server Side Pagination</a></li> 
      </ul>
    </li>
    
    <li class="nav-item dropdown">
      <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Third Party Library
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> 
        <li  >
          <a class="dropdown-item" routerLink="/ag-grid">AG-Grid</a>
        </li>
        <li  >
          <a class="dropdown-item" routerLink="/encript-decript">Encript-Decript</a>
        </li>
      </ul>
    </li> 
    <li class="nav-item dropdown">
      <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Inline Editing
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/inline-api">Inline Crud</a></li> 
        <li><a class="dropdown-item" routerLink="/inline-bulk-update">Inline Bulk Update</a></li> 
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Advance Topics
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/content-projection">Content-Projection</a></li> 
        
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         Logic Building
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/dynamic-tab">Dynamic-Tab</a></li> 
        <li><a class="dropdown-item" routerLink="/multple-selection">Single-Multple Selection</a></li> 
        <li><a class="dropdown-item" routerLink="/jira-board">Jira-Board</a></li> 
        <li><a class="dropdown-item" routerLink="/tree">Tree</a></li> 
      </ul>
    </li>
  </ul>
</nav>

<div class="container-fluid mt-3 bg">
  <router-outlet></router-outlet>
</div>
